<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/s14_kotlin/kotlin_bin/eu/ase/ktest/Prog00_HelloWorldKt.class"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.ase.ktest.Prog00_HelloWorldKt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="s14_kotlin"/>
</launchConfiguration>
