<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.ase.ktest.Prog03_OOPKt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="s14_kotlin"/>
</launchConfiguration>
