<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/s03_japp_poly_with_junit4/src/eu/ase/poly/ProgMainVehicle.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.ase.poly.ProgMainVehicle"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="s03_japp_poly_with_junit4"/>
</launchConfiguration>
