<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/s07_japp_fi_lambda_streams/src/eu/ase/streams_lambda/Java8TestProcessingStreams.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.ase.streams_lambda.Java8TestProcessingStreams"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="s07_japp_fi_lambda_streams"/>
</launchConfiguration>
