<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/s11_japp_tcphttpserver_nio_http2asyncclient/src/eu/ase/http2client/ProgMainHttp2Client.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.ase.http2client.ProgMainHttp2Client"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="s11_japp_tcphttpserver_nio_http2asyncclient"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--add-modules jdk.incubator.httpclient"/>
</launchConfiguration>
