.photonique #subnav {
	border-radius: 0px;
}
.photonique .hier-nav {
	border-radius: 0px;
}
.suf-flat-widget {
	border-radius: 0px;
}
.warea .suf-flat-widget .dbx-content {
	border-radius: 0px;
}
#language-selector ul ul li {
	border-radius: 0px;
}
#language-selector ul ul li a {
	border-radius: 0px;
}
#language-selector ul ul li a:visited {
	border-radius: 0px;
}
a.comment-reply-link {
	border-radius: 3px;
}
a.comment-reply-login {
	border-radius: 3px;
}
.comment-response-type {
	border-radius: 3px;
}
.response-type {
	border-radius: 3px;
}
.wp-caption {
	border-radius: 3px;
}
.exif-button {
	border-radius: 3px;
}
.suf-mag-headline-block li.suf-mag-headline a.tab-current {
	border-radius: 3px;
}
.widget-suf-cat-posts li.suf-cat-post:hover {
	border-radius: 3px;
}
.suf-mag-category li.suf-mag-catblock-post:hover {
	border-radius: 3px;
}
.activity-meta a {
	border-radius: 3px;
}
ul.item-list span.activity {
	border-radius: 3px;
}
.cl-widget {
	border-radius: 5px;
}
.suf-widget {
	border-radius: 5px;
}
.post {
	border-radius: 5px;
}
article.page {
	border-radius: 5px;
}
.non-wp-post {
	border-radius: 5px;
}
#subnav {
	border-radius: 5px;
}
.hier-nav {
	border-radius: 5px;
}
.page-nav {
	border-radius: 5px;
}
.post-nav {
	border-radius: 5px;
}
.flattened {
	border-radius: 5px;
}
.author-profile {
	border-radius: 5px;
}
.info-tag {
	border-radius: 5px;
}
.info-category {
	border-radius: 5px;
}
#featured-posts {
	border-radius: 5px;
}
h3#comments {
	border-radius: 5px;
}
h3.comments {
	border-radius: 5px;
}
h3#respond {
	border-radius: 5px;
}
h3.respond {
	border-radius: 5px;
}
#reply-title {
	border-radius: 5px;
}
textarea {
	border-radius: 5px;
}
.author-info {
	border-radius: 5px;
}
blockquote {
	border-radius: 5px;
}
pre {
	border-radius: 5px;
}
input[type='text'] {
	border-radius: 5px;
}
input[type='password'] {
	border-radius: 5px;
}
.commentlist li {
	border-radius: 5px;
}
.suf-mag-category {
	border-radius: 5px;
}
.suf-mag-excerpt {
	border-radius: 5px;
}
.suf-tile {
	border-radius: 5px;
}
h2.suf-mag-headlines-title {
	border-radius: 5px;
}
.suf-mag-excerpts-header {
	border-radius: 5px;
}
.suf-mag-categories-header {
	border-radius: 5px;
}
#recaptcha_response_field {
	border-radius: 5px;
}
#language-selector ul li {
	border-radius: 5px;
}
#language-selector ul li a {
	border-radius: 5px;
}
#language-selector ul li a:visited {
	border-radius: 5px;
}
.download {
	border-radius: 5px;
}
.announcement {
	border-radius: 5px;
}
.warning {
	border-radius: 5px;
}
.note {
	border-radius: 5px;
}
.suf-mag-headlines {
	border-radius: 5px;
}
.nr-post h3 {
	border-radius: 5px;
}
.nr_widget h4 {
	border-radius: 5px;
}
.post form#whats-new-form #whats-new-textarea {
	border-radius: 5px;
}
.post form#whats-new-form {
	border-radius: 5px;
}
ul.item-list li {
	border-radius: 5px;
}
.standard-form {
	border-radius: 5px;
}
fieldset {
	border-radius: 5px;
}
#wrapper {
	border-radius: 7px;
}
input.searchfield {
	border-radius: 10px;
}
.dir-search input {
	border-radius: 10px;
}
legend {
	border-radius: 20px;
}
.button {
	border-radius: 20px;
}
input[type='button'] {
	border-radius: 20px;
}
input[type='submit'] {
	border-radius: 20px;
}
.submit {
	border-radius: 20px;
}
a.more-link {
	border-radius: 20px;
}
a.excerpt-more-append {
	border-radius: 20px;
}
a.excerpt-more-append:hover {
	border-radius: 20px;
}
a.excerpt-more-append:visited {
	border-radius: 20px;
}
a.suf-mag-excerpt-full-story {
	border-radius: 20px;
}
a.suf-mag-excerpt-full-story:hover {
	border-radius: 20px;
}
a.suf-mag-excerpt-full-story:visited {
	border-radius: 20px;
}
a.suf-mag-category-all-posts {
	border-radius: 20px;
}
a.suf-mag-category-all-posts:hover {
	border-radius: 20px;
}
a.suf-mag-category-all-posts:visited {
	border-radius: 20px;
}
.generic-button {
	border-radius: 20px;
}
.continuous#nav ul li {
	border-radius: 0px;
}
.continuous#nav ul li a {
	border-radius: 0px;
}
#nav ul ul li {
	border-top-left-radius: 0px; border-top-right-radius: 0px;
}
#nav ul ul li a {
	border-top-left-radius: 0px; border-top-right-radius: 0px;
}
#nav ul ul li a:visited {
	border-top-left-radius: 0px; border-top-right-radius: 0px;
}
.dbx-handle {
	border-top-left-radius: 3px; border-top-right-radius: 3px;
}
#commentform label.textarea {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
h2.suf-mag-category-title {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#language-selector ul ul li:first-child {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#language-selector ul ul li:first-child a {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#language-selector ul ul li:first-child a:visited {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
ul.sidebar-tabs li a {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#nav ul li {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#nav ul li a {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#nav ul ul ul li:first-child {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#nav ul ul ul li:first-child > a {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#nav ul ul ul ul li:first-child > a:hover {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#nav-top ul ul ul li:first-child {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#nav-top ul ul ul li:first-child > a {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#nav-top ul ul ul li:first-child > a:hover {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#item-nav div.item-list-tabs ul li {
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}
#commentform label {
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}
.collapse .searchfield {
	border-top-left-radius: 15px; border-bottom-left-radius: 15px;
}
.collapse .searchfield {
	border-top-right-radius: 0px; border-bottom-right-radius: 0px;
}
#commentform input[type='text'].inside {
	border-top-right-radius: 0px; border-bottom-right-radius: 0px;
}
#commentform input[type='text'] {
	border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}
#language-selector ul ul li:last-child {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#language-selector ul ul li:last-child a {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#language-selector ul ul li:last-child a:visited {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
div.sidebar-tab-content {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#nav ul ul li:last-child {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#nav ul ul li:last-child > a {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#nav ul ul li:last-child > a:hover {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#nav-top {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#nav-top ul ul li:last-child {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#nav-top ul ul li:last-child > a {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
#nav-top ul ul li:last-child > a:hover {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
.photonique #nav-top {
	border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;
}
#commentform input[type='text'] {
	border-bottom-left-radius: 0px;
}
#commentform label.textarea {
	border-bottom-left-radius: 0px;
}
#commentform input[type='text'] {
	border-top-left-radius: 0px;
}
#commentform textarea {
	border-top-left-radius: 0px;
}
#commentform textarea.inside {
	border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;
}
.mm-warea {
	border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;
}
#nav .mm-warea .mm-widget li:first-child {
	border-radius: 0px;
}
#nav .mm-warea .mm-widget li:last-child {
	border-radius: 0px;
}
#nav-top .mm-warea .mm-widget li:first-child {
	border-radius: 0px;
}
#nav-top .mm-warea .mm-widget li:last-child {
	border-radius: 0px;
}
