a {
	color: rgb(34, 122, 209);
}
a:visited {
	color: rgb(34, 122, 209);
}
a.dbx-toggle {
	background-image: url("../../images/exp-coll-rblue.png"); background-repeat: no-repeat;
}
a.dbx-toggle:visited {
	background-image: url("../../images/exp-coll-rblue.png"); background-repeat: no-repeat;
}
#ie6 a.dbx-toggle {
	background-image: url("../../images/exp-coll-rblue.gif"); background-repeat: no-repeat;
}
#ie6 a.dbx-toggle:visited {
	background-image: url("../../images/exp-coll-rblue.gif"); background-repeat: no-repeat;
}
.scheme a.dbx-toggle {
	background-image: url("../../images/exp-coll-white.png"); background-repeat: no-repeat;
}
.scheme a.dbx-toggle:visited {
	background-image: url("../../images/exp-coll-white.png"); background-repeat: no-repeat;
}
#ie6 .scheme a.dbx-toggle {
	background-image: url("../../images/exp-coll-white.gif"); background-repeat: no-repeat;
}
#ie6 .scheme a.dbx-toggle:visited {
	background-image: url("../../images/exp-coll-white.gif"); background-repeat: no-repeat;
}
.suf-widget h3.scheme {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164);
}
#wrapper {
	border: 1px solid rgb(182, 209, 228); background-color: rgb(248, 248, 255);
}
.blogtitle a:hover {
	color: rgb(34, 122, 209);
}
input[type='submit'].searchsubmit {
	background: url("../../images/search-button-rblue.png") no-repeat 0px 0px;
}
#ie6 #right-header-widgets .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #left-header-widgets .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #top-bar-right-widgets .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #top-bar-left-widgets .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #sidebar .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #sidebar-2 .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #sidebar-b .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #sidebar-2-b .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #horizontal-outer-widgets-1 .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#ie6 #horizontal-outer-widgets-2 .searchsubmit {
	background: url("../../images/search-button-rblue.gif") no-repeat 0px 0px;
}
#nav {
	border-bottom-color: rgb(182, 209, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
#nav ul li {
	border: 1px solid rgb(182, 209, 228);
}
.continuous#nav ul ul li {
	border: 1px solid rgb(182, 209, 228);
}
.continuous#nav-top ul ul li {
	border: 1px solid rgb(182, 209, 228);
}
#nav-top ul li a {
	color: rgb(68, 68, 68); background-color: rgb(248, 248, 255);
}
#nav ul li a {
	color: rgb(68, 68, 68); background-color: rgb(248, 248, 255);
}
#nav-top a.current {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav-top a.current:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav-top a.current:hover {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav-top a.current:active {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav-top li a:hover {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav a.current {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav a.current:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav a.current:hover {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav a.current:active {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav li a:hover {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav ul ul li {
	border: 1px solid rgb(182, 209, 228);
}
.continuous#nav {
	border-bottom-color: rgb(0, 82, 164); border-bottom-width: 1px; border-bottom-style: solid;
}
.continuous#nav-top {
	border-bottom-color: rgb(0, 82, 164); border-bottom-width: 1px; border-bottom-style: solid;
}
.continuous#nav-top a.current {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav-top a.current:visited {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav-top a.current:hover {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav-top a.current:active {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav-top li a:hover {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav-top li li a {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav-top li li a:visited {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav a.current {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav a.current:visited {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav a.current:hover {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav a.current:active {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav li a:hover {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav li li a {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav li li a:visited {
	background: rgb(248, 248, 255); color: rgb(68, 68, 68);
}
.continuous#nav-top {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav-top ul li {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav-top a {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav-top a:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav-top li li a:hover {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav-top li li a.current {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav-top li li a.current:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav-top li li a.current:hover {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav-top li li a.current:active {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav ul li {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav a {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav a:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav li li a:hover {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav li li a.current {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav li li a.current:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav li li a.current:hover {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.continuous#nav li li a.current:active {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
#nav-top {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(182, 209, 228) rgb(182, 209, 228); background-color: rgb(248, 248, 255);
}
#nav-top ul li {
	border: 1px solid rgb(182, 209, 228);
}
#nav-top ul ul li {
	border: 1px solid rgb(182, 209, 228);
}
#subnav {
	background: rgb(255, 255, 255); border: 1px solid rgb(192, 192, 192); margin-top: 15px;
}
#subnav ul {
	list-style: none; margin: 0px; padding: 0px 0px 0px 5px;
}
#subnav .current_page_item a {
	color: rgb(34, 122, 209);
}
#subnav .current_page_item a:visited {
	color: rgb(34, 122, 209);
}
#subnav .current_page_parent a {
	color: rgb(34, 122, 209);
}
#subnav .current_page_parent a:visited {
	color: rgb(34, 122, 209);
}
#subnav li a:hover {
	color: rgb(34, 122, 209);
}
.hier-nav {
	background: rgb(248, 248, 255);
}
.hier-nav .current_page_item a {
	color: rgb(34, 122, 209);
}
.hier-nav .current_page_item a:visited {
	color: rgb(34, 122, 209);
}
.hier-nav .current_page_parent a {
	color: rgb(34, 122, 209);
}
.hier-nav .current_page_parent a:visited {
	color: rgb(34, 122, 209);
}
.hier-nav li a:hover {
	color: rgb(34, 122, 209);
}
#top-bar-right-spanel-tab .toggle {
	border: 1px solid rgb(182, 209, 228);
}
#top-bar-right-spanel-tab .toggle a {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.post .date {
	background: url("../../images/caldark.png") no-repeat; color: rgb(255, 255, 255);
}
.post .date span.day {
	color: rgb(255, 255, 255);
}
.post .date span.month {
	color: rgb(255, 255, 255);
}
.post .date span.year {
	color: rgb(255, 255, 255);
}
.bookdata a:hover {
	color: rgb(34, 122, 209);
}
.postdata a:hover {
	color: rgb(34, 122, 209);
}
h1.posttitle a:hover {
	color: rgb(34, 122, 209);
}
h2.posttitle a:hover {
	color: rgb(34, 122, 209);
}
.tags a:hover {
	color: rgb(34, 122, 209);
}
.page-links span {
	border-color: rgb(34, 122, 209);
}
.page-links > span {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.page-links a:hover {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.page-nav a:hover {
	color: rgb(34, 122, 209);
}
.post-nav a:hover {
	color: rgb(34, 122, 209);
}
.suf-page-nav a {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
.suf-page-nav a:visited {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
.suf-page-nav span {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
.suf-page-nav a:hover {
	background-color: rgb(34, 122, 209);
}
.suf-page-nav span.current {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
h3#comments {
	background-color: rgb(248, 248, 255);
}
h3.comments {
	background-color: rgb(248, 248, 255);
}
h3#respond {
	background-color: rgb(248, 248, 255);
}
h3.respond {
	background-color: rgb(248, 248, 255);
}
#reply-title {
	background-color: rgb(248, 248, 255);
}
.commentlist cite {
	color: rgb(34, 122, 209);
}
.commentlist cite a {
	color: rgb(34, 122, 209);
}
.commentlist cite a:visited {
	color: rgb(34, 122, 209);
}
.commentlist li.alt {
	background-color: rgb(248, 248, 255);
}
.comment-response-types span {
	border-color: rgb(34, 122, 209);
}
.comment-response-types > span {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.comment-response-types a:hover {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
#page-footer {
	border-top-color: rgb(182, 209, 228); border-top-width: 1px; border-top-style: solid;
}
#cred {
	border-top-color: rgb(182, 209, 228); border-top-width: 1px; border-top-style: solid;
}
#cred a:hover {
	color: rgb(34, 122, 209);
}
.button {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.button:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
input[type='submit'] {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
input[type='button'] {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.suf-widget h3 {
	color: rgb(68, 68, 68);
}
.suf-widget h3 a {
	color: rgb(68, 68, 68);
}
.suf-widget h3 a:visited {
	color: rgb(68, 68, 68);
}
.suf-widget h3.scheme {
	color: rgb(255, 255, 255);
}
.suf-widget h3.scheme a {
	color: rgb(255, 255, 255);
}
.suf-widget h3.scheme a:visited {
	color: rgb(255, 255, 255);
}
div.sidebar-tab-content a:hover {
	color: rgb(34, 122, 209);
}
div.sidebar-tab-content a:focus {
	color: rgb(34, 122, 209);
}
div.sidebar-tab-content a:active {
	color: rgb(34, 122, 209);
}
.suf-widget a:hover {
	color: rgb(34, 122, 209);
}
.suf-widget a:focus {
	color: rgb(34, 122, 209);
}
.suf-widget a:active {
	color: rgb(34, 122, 209);
}
.warea a:hover {
	color: rgb(34, 122, 209);
}
.warea a:focus {
	color: rgb(34, 122, 209);
}
.warea a:active {
	color: rgb(34, 122, 209);
}
.suf-mag-category li {
	background-image: url("../../images/icons/bulletrbl.png");
}
.sidebar-tab-content ul li {
	background-image: url("../../images/icons/bulletrbl.png");
}
.suf-widget li {
	background-image: url("../../images/icons/bulletrbl.png");
}
.suf-flat-widget li {
	background-image: url("../../images/icons/bulletrbl.png");
}
.suf-panel-widget li {
	background-image: url("../../images/icons/bulletrbl.png");
}
.tab-box div.sbtab-content-categories ul li {
	background-image: url("../../images/icons/folderbl16.png");
}
.widget_categories ul li {
	background-image: url("../../images/icons/folderbl16.png");
}
div.sbtab-content-meta .rss {
	background-image: url("../../images/icons/rssrblue16.png");
}
.suf-widget .rss {
	background-image: url("../../images/icons/rssrblue16.png");
}
.suf-flat-widget .rss {
	background-image: url("../../images/icons/rssrblue16.png");
}
.suf-panel-widget .rss {
	background-image: url("../../images/icons/rssrblue16.png");
}
.widget_meta .rss {
	background-image: url("../../images/icons/rssrblue16.png");
}
.widget_calendar td.with-posts {
	background: rgb(0, 82, 164);
}
.widget_calendar td.with-posts a {
	color: rgb(255, 255, 255);
}
#commentform label.fancy {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.sliderIndex a {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
.sliderIndex a:visited {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
#sliderIndex a {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
#sliderIndex a:visited {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
.sliderIndex a:hover {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.sliderIndex a.activeSlide {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
#sliderIndex a:hover {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
#sliderIndex a.activeSlide {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.index-overlaid .sliderIndex a:hover {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.index-overlaid .sliderIndex a.activeSlide {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.index-overlaid #sliderIndex a:hover {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.index-overlaid #sliderIndex a.activeSlide {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.pager-bullets #sliderPager a {
	background: url("../../images/slider-gray.png") no-repeat center;
}
.pager-bullets .sliderPager a {
	background: url("../../images/slider-gray.png") no-repeat center;
}
.pager-bullets #sliderPager a.activeSlide {
	background: url("../../images/slider-blue.png") no-repeat center;
}
.pager-bullets .sliderPager a.activeSlide {
	background: url("../../images/slider-blue.png") no-repeat center;
}
.pager-bullets #sliderPager a:hover {
	background: url("../../images/slider-blue.png") no-repeat center;
}
.pager-bullets .sliderPager a:hover {
	background: url("../../images/slider-blue.png") no-repeat center;
}
.wp-pagenavi a {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
.wp-pagenavi a:visited {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
.wp-pagenavi span {
	border-color: rgb(34, 122, 209); color: rgb(34, 122, 209);
}
.wp-pagenavi span.current {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.wp-pagenavi a:hover {
	color: rgb(255, 255, 255); background-color: rgb(34, 122, 209);
}
.warea ul.sidebar-tabs li a.tab-current {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
ul.sidebar-tabs li a.tab-current {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.suf-mag-headline-block li.suf-mag-headline a.tab-current {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
h2.suf-mag-category-title {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
a.excerpt-more-append {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
a.excerpt-more-append:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
a.suf-mag-excerpt-full-story {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
a.suf-mag-excerpt-full-story:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.warea a.suf-mag-category-all-posts {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.warea a.suf-mag-category-all-posts:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
a.suf-mag-category-all-posts {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
a.suf-mag-category-all-posts:visited {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); color: rgb(255, 255, 255);
}
.exif-button {
	background: url("../../images/menu-dark.jpg") repeat-x left top rgb(0, 82, 164); border-color: rgb(192, 192, 192);
}
.exif-button a {
	color: rgb(255, 255, 255);
}
.exif-button .open .icon {
	background-position: -48px -96px;
}
.exif-button .close .icon {
	background-position: -64px -96px;
}
.mm-warea {
	background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(182, 209, 228) rgb(182, 209, 228); color: rgb(51, 51, 51);
}
#nav .mm-warea .mm-widget ul li {
	background: url("../../images/icons/bulletrbl.png") no-repeat; color: rgb(51, 51, 51);
}
#nav-top .mm-warea .mm-widget ul li {
	background: url("../../images/icons/bulletrbl.png") no-repeat; color: rgb(51, 51, 51);
}
#nav .mm-warea .mm-widget a {
	color: rgb(34, 122, 209);
}
#nav-top .mm-warea .mm-widget a {
	color: rgb(34, 122, 209);
}
#nav .mm-warea .mm-widget a:visited {
	color: rgb(34, 122, 209);
}
#nav-top .mm-warea .mm-widget a:visited {
	color: rgb(34, 122, 209);
}
#nav .mm-warea .mm-widget a:hover {
	color: rgb(34, 122, 209);
}
#nav-top .mm-warea .mm-widget a:hover {
	color: rgb(34, 122, 209);
}
