#cat_specific_rss {
	
}
#cat_specific_rss img {
	margin: 0px 2px; padding: 0px; border: currentColor;
}
#cat_specific_rss img a {
	margin: 0px 2px; padding: 0px; border: currentColor;
}
.cat_specific_rss_link {
	margin: 5px 5px 5px 20px; font-size: 8pt;
}
