<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/stud/jenkinsworkspace

if [ ! -d &quot;./javase&quot; ]; then
  # Control will enter here if $DIRECTORY doesn&apos;t exist.
  git clone https://github.com/critoma/javase.git
fi

cd ./javase
git pull


export JAVA_HOME=/opt/software/java/jdks/jdk1.8.0_161
export PATH=$JAVA_HOME/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games
export CLASSPATH=.:$JAVA_HOME/jre/lib
export JSE=/home/stud/jenkinsworkspace/javase/lectures

cd $JSE/c02/src

javac eu/ase/ooparrays/Student.java
javac eu/ase/ooparrays/ProgMainOopArrays.java


# full JAR deployment 
jar -cmvf ./META-INF/MANIFEST.MF ../student.jar eu/ase/ooparrays/*.class
rm eu/ase/ooparrays/*.class

java -jar ../student.jar eu/ase/ooparrays/ProgMainOopArrays

rm ../student.jar
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>