@charset "UTF-8";
/* CSS Document */

/*

Here's a demo stylesheet used to format a menu and its content.
Feel free to alter the menu layout however you want!
All you have to do is ensure the script has the correct CSS property name
(like 'visibility' or 'display') that changes to show/hide menus.

If you want to extend this layout, one good resource for UL/LI formatting is:
    http://www.alistapart.com/articles/taminglists/
Alternatively, you can use any other CSS dropdown layout instead. More here:
    http://www.alvit.de/css-showcase/
Consult your favourite CSS reference for customising fonts/borders/etc.

Otherwise, you can just change the #RGB border/background colours where
suitable to customise for your site -- easy :).

*/



/* HORIZONTAL FREESTYLE MENU LAYOUT */


/* All <ul> tags in the menu including the first level */
::root menulist, .menulist  ul { margin-top: -10px; }


.menulist, .menulist  ul  {
margin: 0;
padding: 0;
list-style: none;
font: 9px arial;
color: #fff; 
float: left;
display: inline;
/* any IE */
}



.menulist a:visited  {
color: #fff; 
text-decoration: none;
 
/* any IE */
}

/* Submenus (<ul> tags) are hidden and absolutely positioned downwards from their parent */
.menulist ul {
 display: none;
 position: absolute;
 top: 1.0em; margin-top: 12px; /* I'm using ems and px to allow people to zoom their font */
 left: -1px;
 width: 180px;
 color: #fff;

 
}

/* Second and third etc. level submenus - position across from parent instead */
.menulist ul ul {
 top: -1px; margin-top: 0;
 left: 148px;
 color: #fff; 
 z-index: 200;

}

/*
 All menu items (<li> tags). 'float: left' lines them up horizontally, and they are
 positioned relatively to correctly offset submenus. Also, they have overlapping borders.
*/
.menulist li {
 float: left;
 display: block;
 position: relative;
 background: #676767;
 border: 1px solid #999;
 border-bottom: 0px solid #999;
 border-top: 0px solid #999;
 margin-right: -1px;
 background-image: url('/icom_includes/toolbars/globaltoolbar/img/background_dn.gif');
 background-repeat: repeat-x;
 line-height: 15px;
 color: #fff; 
}

/* Items in submenus - override float/border/margin from above, restoring default vertical style */
.menulist ul li {
 float: none;
 margin: 0;
 margin-bottom: -1px;
 margin-top: -2px;
 color: #fff;
 filter:alpha(opacity=95);
-moz-opacity:.05;
opacity:.95;
color: #fff; 
}
.menulist ul>li:last-child {
 margin-bottom: 1px; /* Mozilla fix */
}

.menulist ul li a:hover{
 float: none;
 margin: 0;
 background-color: #666666;
 color: #fff; 
}
.menulist ul>li:last-child {
 margin-bottom: 1px;
 color: #fff; /* Mozilla fix */
}


/* Links inside the menu */
.menulist a {
 display: block;
 padding: 3px;
 color: #fff;
 text-decoration: none;
 text-align: left;
}

/* Lit  items: 'hover' is mouseover, 'highlighted' are parent items to visible menus */
.menulist a:hover, .menulist a.highlighted:hover, .menulist a:focus,  {
 color: #FFF;
 background-color: #666;
 text-decoration: none;
  
}


.menulist a.highlighted {
 color: #FFF;
 background-color: #e51a16;
}

/*
 If you want per-item background images in your menu items, here's how to do it.
 1) Assign a unique ID tag to each link in your menu, like so: <a id="xyz" href="#">
 2) Copy and paste these next lines for each link you want to have an image:
    .menulist a#xyz {
      background-image: url(out.gif);
    }
    .menulist a#xyz:hover, .menulist a.highlighted#xyz, .menulist a:focus {
     background-image: url(over.gif);
    }
*/

/* Only style submenu indicators within submenus. */
.menulist a .subind {
 display: none;
}
.menulist ul a .subind {
 display: block;
 float: right;
}


/* 'Escaped Comment' hack for horizontal menubar width in IE5/Mac */
.menulist a {
 float: left;
}
.menulist ul a {
 float: none;
}
/* \*/
.menulist a {
 float: none;
}
/* */


/*
 HACKS: IE/Win:
 A small height on <li> and <a> tags and floating prevents gaps in menu.
 * html affects <=IE6 and *:first-child+html affects IE7.
 You may want to move these to browser-specific style sheets.
*/
*:first-child+html .menulist ul li {
 float: left;
 width: 100%;
 color: #fff; 
}

* html .menulist ul li {
 float: left;
 height: 1%;
 color: #fff; 
}
* html .menulist ul a {
 height: 1%;
 color: #fff; 
}
/* End Hacks */















/* HORIZONTAL FREESTYLE MENU LAYOUTv2 */


/* All <ul> tags in the menu including the first level */
.menulistv2, .menulistv2  ul  {
margin: 0;
padding: 0;
list-style: none;
font: 9px sans-serif;
color: #fff; 
float: left;
z-index: 200;
background-image: url('/icom_includes/toolbars/globaltoolbar/img/background_lght_fixed.gif'); 
/* any IE */
}



.menulistv2 a:visited  {
color: #fff; 
text-decoration: none;
/* any IE */
}

/* Submenus (<ul> tags) are hidden and absolutely positioned downwards from their parent */
.menulistv2 ul {
 display: none;
 position: absolute;
 top: 1.0em; margin-top: 12px; /* I'm using ems and px to allow people to zoom their font */
 left: -1px;
 width: 180px;
 color: #fff;
 z-index: 200;
  background-image: url('/icom_includes/toolbars/globaltoolbar/img/background_lght_fixed.gif'); 
}

/* Second and third etc. level submenus - position across from parent instead */
.menulistv2 ul ul {
 top: -1px; margin-top: 0;
 left: 148px;
 color: #fff; 
 z-index: 200;

}

/*
 All menu items (<li> tags). 'float: left' lines them up horizontally, and they are
 positioned relatively to correctly offset submenus. Also, they have overlapping borders.
*/
.menulistv2 li {
 float: left;
 display: block;
 position: relative;
 background: #676767;
 border: 1px solid #999;
 border-bottom: 0px solid #999;
 border-top: 0px solid #999;
 margin-right: -1px;
 background-image: url('/icom_includes/toolbars/globaltoolbar/img/background_lght_fixed.gif'); 
 background-repeat: repeat-x;
 line-height: 15px;
 color: #fff; 
}

/* Items in submenus - override float/border/margin from above, restoring default vertical style */
.menulistv2 ul li {
 float: none;
 margin: 0;
 margin-bottom: -1px;
 margin-top: -2px;
 color: #fff;
 filter:alpha(opacity=80);
-moz-opacity:.20;
opacity:.90;
color: #fff; 
}
.menulistv2 ul>li:last-child {
 margin-bottom: 1px; /* Mozilla fix */
}

.menulistv2 ul li a:hover{
 float: none;
 margin: 0;
 background-color: #666666;
 color: #fff; 
}
.menulistv2 ul>li:last-child {
 margin-bottom: 1px;
 color: #fff; /* Mozilla fix */
}


/* Links inside the menu */
.menulistv2 a {
 display: block;
 padding: 3px;
 color: #fff;
 text-decoration: none;
 text-align: left;
}

/* Lit  items: 'hover' is mouseover, 'highlighted' are parent items to visible menus */
.menulistv2 a:hover, .menulistv2 a.highlighted:hover, .menulistv2 a:focus,  {
 color: #FFF;
 background-color: #666;
 text-decoration: none;
  
}


.menulistv2 a.highlighted {
 color: #FFF;
 background-color: #999;
}

/*
 If you want per-item background images in your menu items, here's how to do it.
 1) Assign a unique ID tag to each link in your menu, like so: <a id="xyz" href="#">
 2) Copy and paste these next lines for each link you want to have an image:
    .menulistv2 a#xyz {
      background-image: url(out.gif);
    }
    .menulistv2 a#xyz:hover, .menulistv2 a.highlighted#xyz, .menulistv2 a:focus {
     background-image: url(over.gif);
    }
*/

/* Only style submenu indicators within submenus. */
.menulistv2 a .subind {
 display: none;
}
.menulistv2 ul a .subind {
 display: block;
 float: right;
}


/* 'Escaped Comment' hack for horizontal menubar width in IE5/Mac */
.menulistv2 a {
 float: left;
}
.menulistv2 ul a {
 float: none;
}
/* \*/
.menulistv2 a {
 float: none;
}
/* */


/*
 HACKS: IE/Win:
 A small height on <li> and <a> tags and floating prevents gaps in menu.
 * html affects <=IE6 and *:first-child+html affects IE7.
 You may want to move these to browser-specific style sheets.
*/
*:first-child+html .menulistv2 ul li {
 float: left;
 width: 100%;
 color: #fff; 
}

* html .menulistv2 ul li {
 float: left;
 height: 1%;
 color: #fff; 
}
* html .menulistv2 ul a {
 height: 1%;
 color: #fff; 
}
/* End Hacks */










/* HORIZONTAL FREESTYLE MENU LAYOUTv3 */


/* All <ul> tags in the menu including the first level */
.menulistv3, .menulistv3  ul  {
margin: 0;
padding: 0;
list-style: none;
font: 9px sans-serif;
color: #fff; 
float: left;
z-index: 200;
  background-image: url('/icom_includes/toolbars/globaltoolbar/img/background_login.gif'); 
/* any IE */
}



.menulistv3 a:visited  {
color: #fff; 
text-decoration: none;
/* any IE */
}

/* Submenus (<ul> tags) are hidden and absolutely positioned downwards from their parent */
.menulistv3 ul {
 display: none;
 position: absolute;
 top: 1.0em; margin-top: 12px; /* I'm using ems and px to allow people to zoom their font */
 left: -1px;
 width: 100px;
 color: #fff;
 z-index: 200;
  background-image: url('/icom_includes/toolbars/globaltoolbar/img/background_login.gif'); 
}

/* Second and third etc. level submenus - position across from parent instead */
.menulistv3 ul ul {
 top: -1px; margin-top: 0;
 left: 148px;
 color: #fff; 
 z-index: 200;

}

/*
 All menu items (<li> tags). 'float: left' lines them up horizontally, and they are
 positioned relatively to correctly offset submenus. Also, they have overlapping borders.
*/
.menulistv3 li {
 float: left;
 display: block;
 position: relative;
 background: #676767;
 border: 1px solid #999;
 border-bottom: 0px solid #999;
 border-top: 0px solid #999;
 margin-right: -1px;
 background-image: url('/icom_includes/toolbars/globaltoolbar/img/background_login.gif'); 
 background-repeat: repeat-x;
 line-height: 15px;
 color: #fff; 
}

/* Items in submenus - override float/border/margin from above, restoring default vertical style */
.menulistv3 ul li {
 float: none;
 margin: 0;
 margin-bottom: -1px;
 margin-top: -2px;
 color: #fff;
 filter:alpha(opacity=80);
-moz-opacity:.20;
opacity:.90;
color: #fff; 
}
.menulistv3 ul>li:last-child {
 margin-bottom: 1px; /* Mozilla fix */
}

.menulistv3 ul li a:hover{
 float: none;
 margin: 0;
 background-color: #000;
 color: #fff; 
}
.menulistv3 ul>li:last-child {
 margin-bottom: 1px;
 color: #fff; /* Mozilla fix */
}


/* Links inside the menu */
.menulistv3 a {
 display: block;
 padding: 3px;
 color: #fff;
 text-decoration: none;
 text-align: left;
}

/* Lit  items: 'hover' is mouseover, 'highlighted' are parent items to visible menus */
.menulistv3 a:hover, .menulistv3 a.highlighted:hover, .menulistv3 a:focus,  {
 color: #FFF;
 background-color: #666;
 text-decoration: none;
  
}


.menulistv3 a.highlighted {
 color: #FFF;
 background-color: #e51a16;
}

/*
 If you want per-item background images in your menu items, here's how to do it.
 1) Assign a unique ID tag to each link in your menu, like so: <a id="xyz" href="#">
 2) Copy and paste these next lines for each link you want to have an image:
    .menulistv3 a#xyz {
      background-image: url(out.gif);
    }
    .menulistv3 a#xyz:hover, .menulistv3 a.highlighted#xyz, .menulistv3 a:focus {
     background-image: url(over.gif);
    }
*/

/* Only style submenu indicators within submenus. */
.menulistv3 a .subind {
 display: none;
}
.menulistv3 ul a .subind {
 display: block;
 float: right;
}


/* 'Escaped Comment' hack for horizontal menubar width in IE5/Mac */
.menulistv3 a {
 float: left;
}
.menulistv3 ul a {
 float: none;
}
/* \*/
.menulistv3 a {
 float: none;
}
/* */


/*
 HACKS: IE/Win:
 A small height on <li> and <a> tags and floating prevents gaps in menu.
 * html affects <=IE6 and *:first-child+html affects IE7.
 You may want to move these to browser-specific style sheets.
*/
*:first-child+html .menulistv3 ul li {
 float: left;
 width: 100%;
 color: #fff; 
}

* html .menulistv3 ul li {
 float: left;
 height: 1%;
 color: #fff; 
}
* html .menulistv3 ul a {
 height: 1%;
 color: #fff; 
}
/* End Hacks */