/* -----------------------------------------------
footer toolbar settings
----------------------------------------------- */
#tools_inews {
  padding: 5px; 
  font-family: verdana; courier, serif; 
  font-size: 8pt; 
  background-image: url('/img/tools_background.gif');
  background-repeat: repeat-x; 
  background-position: top; 
  background-color: #cccccc;
  clear: left;
  border: 1px solid #999;
 
  }

#additems_inews {
  padding: 5px; 
  font-family: verdana; courier, serif; 
  font-size: 8pt; 
  background-image: url('/img/additems_background.gif');
  background-repeat: repeat-x; 
  background-position: top; 
  background-color: #fff4d5;
  clear: left;
  border: 1px solid #999;
  }

#additems_inews a {	font-size: 8pt; font-family: verdana,arial,helvetica; font-weight: bold; color: #333;; TEXT-DECORATION: underline;}
#additems_inews a:hover {	text-decoration: none;	color: #333; TEXT-DECORATION: none;}

.dotrule {
  padding: 7px 0px 0px 0px; border-bottom:0px; border-left: 0px; border-top: 1px solid #999; border-right: 0px;
  }